<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>langdetector</title>
</head>
<body>
<p>Your language is: {{.Language}}</p>

<p>You sent a: {{.Method}} request</p>

{{if .IsPost}}
<p>Your POST variable value: {{.PostVar}}</p>
{{end}}
</body>
</html>